html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}

/*header*/

header {
  display: flex;
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: 4rem;
}

header .head {
  display: flex;
  max-width: 100%;
  flex-grow: 1;
  height: 2rem;
  align-items: center;
}

.head img {
  padding-left: 1.5rem;
  height: 3rem;
  padding-right: 1rem;

}


.headnav {
  display: flex;
  margin-right: 2rem;

}

.headnav ul {
  display: inline-flex;
  justify-content: space-between;
  padding: 16px;
  list-style: none;
}

.headnav li {
  padding: 1rem;
}

/*1st section*/

.intro_container {
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.intro_container img {
  width: 60%;
  padding: 2rem 1.5rem;
}
