html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}

/*header*/

header {
  display: flex;
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

header .head {
  display: flex;
  max-width: 100%;
  flex-grow: 1;
  height: 2rem;
  align-items: center;
}

.head img {
  padding-left: 1.5rem;
  height: 3rem;
  padding-right: 1rem;

}

.span0 {
  font-family: "Montserrat";
  font-size: 1.5rem;
}



.span2 {
  color: grey;
}



.headnav {
  display: flex;
  margin-right: 2rem;
  font-family: "Open Sans";
  font-weight: bold;


}



.headnav ul {
  display: inline-flex;
  justify-content: space-between;
  padding: 16px;
  list-style: none;
}

.headnav li {
  padding: 1rem;
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

.headnav li:hover {
  background-color: grey;
  color: white;
  border-radius: 12px;
}

.hide_desktop {
  display: none;
}

@media only screen and (max-width: 560px) {
  .headnav {
    display: none;
  }
  .span0 {
    display: none;
  }
  .head img {
    display: none;
  }
  .hide_desktop {
    display: flex;
    max-width: 100%;
    flex-grow: 1;
    height: 2rem;
    align-items: center;
  }
  .hide_desktop img {
    padding-left: 1.5rem;
    height: 3rem;
    padding-right: 1rem;
  }
}

/*1st section*/




.intro_container {
  background-color: rgb(237, 235, 235);
  display: flex;
  align-items: center;
}



.intro_container img {
  width: 60%;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  opacity: 0.5;
  transition-duration: 0.75s;
  transition-delay: 150ms;

}

.intro_container img:hover {
  opacity: 1;
}

.learn_something {
max-width: 17rem;

}

.learn_something h1 {
  font-family: "Montserrat";
  font-size: 2.5rem;
}

.learn_something h3 {
  font-family: "Open Sans";
  font-size: 1.4rem;
  padding: 1.5rem 0;
}

.learn_something h4 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: grey;
  margin: 0 auto;
  padding: 0.5rem 0;
  font-family: "Montserrat";
  transition-duration: 0.75s;
  transition-delay: 150ms;

}

.learn_something h4:hover {
  padding: 1rem 0.5rem;
  background-color: rgb(237, 235, 235);
  color: black;
  font-size: 1.5rem;
}


@media only screen and (max-width: 560px) {
  .intro_container {
    display: block;
  }
  .intro_container img {
    width: 100%;
    padding: 0;
  }
  .learn_something {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
  }
}

/*second section*/

.second_container {
  background-color: whitesmoke;
  display: flex;

}

/*Left element within second container*/

.left_section {
  width: 60%;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
}

.left_section h2 {
font-family: "Montserrat";
font-size: 1.9rem;
padding: 1rem 0;

}

.left_section p {
font-family: "open sans";
font-size: 1.2rem;

}

.left_section img {
  width: 100%;
  opacity: 0.5;

}

.img-flexleft img {
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

.img-flexleft img:hover {
  opacity: 1;
}
/* Right section within second container */

.right_section {
  width: 40%;
  padding-top: 1rem;
}

.subsection {
  display: flex;
  align-items: center;
  transition-duration: 0.75s;
  transition-delay: 150ms;

}.subsection:hover {
  background-color: rgb(237, 235, 235);

}

.subsection1 {
    border-bottom: solid rgb(237, 235, 235);
    border-top: solid rgb(237, 235, 235);
    display: flex;
    align-items: center;
    transition-duration: 0.75s;
    transition-delay: 150ms;
}

.subsection1:hover {
  background-color: rgb(237, 235, 235);

}

.img-flex {
  width: 30%;
  padding: 1rem;
  opacity: 0.8;
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

.img-flex:hover {
  opacity: 1;
}

.subsection .img-flex img{
   width: 100%;

}



.subsection .text {
  width: 70%;
}

.subsection1 .img-flex img {
  width: 100%;
}

.subsection1 .text {
  width: 70%;
}

.text h4 {
  font-family: "Montserrat";
  padding: 1rem 0;
}

.text p {
  font-family: "open sans";
  padding: 1rem 0;
}

.read_more {
  font-weight: bold;
}

.img-flexlefthide {
  display: none;
}

@media only screen and (max-width: 560px) {

  .left_section {
    display: none;
  }
  .right_section {
    width: 100%;
  }
  .img-flex {
    display: none;
  }
  .img-flexlefthide {
    display: block;
    max-width: 560px;
    opacity: 0.5;
    transition-duration: 0.75s;
    transition-delay: 150ms;
  }
  .img-flexlefthide:hover {
    opacity: 1;
  }
  .img-flexlefthide img {
    max-width: 100%;
  }
.subsection {
  display: block;
  padding: 1rem;
}
.subsection1 {
  display: block;
  padding: 1rem;
}
}

/* Third section*/

.third_header {
  text-align: center;
  padding: 2rem 0;
  background-color: rgb(237, 235, 235);
}

.third_header h1 {
  font-family: "Montserrat";
  font-size: 2rem;
}

.third_container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  background-color: rgb(237, 235, 235);
}

.third_subelement {
  padding: 2rem;
  max-width: 33.25rem;

}

.third_subelement h3 {
  font-family: "Montserrat";
  padding: 1.5rem 0;
  font-size: 1.3rem;
}

.third_subelement p {
  font-family: "open sans";
  padding: 1rem 0;
  font-size: 1.1rem;
}

.third_img_flex {
  height: auto;

}

.third_img_flex img {
  opacity: 0.5;
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

.third_img_flex img:hover {
  opacity: 1;
}

  @media only screen and (max-width: 560px) {

    .third_img_flex {
      display: none;
    }

    .third_container {
      display: block;
      text-align: center;
      padding-bottom: 2rem;
    }

    .third_subelement {
      padding: 0.5rem 2rem;
    }

    .third_subelement p {
      display: none;
    }

    .third_subelement h3 {
      background-color: grey;
      color: white;
      text-align: left;
      padding-left: 1rem;
      transition-duration: 0.75s;
      transition-delay: 150ms;
    }

    .third_subelement h3:hover {
      background-color: rgb(237, 235, 235);
      color: black;
    }


  }

  /* fourth section*/

.fourth_header {
    text-align: center;
    padding: 2rem 0;
    background-color: whitesmoke;
  }

  .fourth_header h1 {
    font-family: "Montserrat";
    font-size: 2rem;
  }

  .thesis_left {
    padding: 0 1.5rem;
    width: 60%;
    box-sizing: border-box;
  }

.thesis_left h2 {
  font-family: "Montserrat";
  padding: 1rem 0;
  font-size: 1.5rem;
}

.thesis_left p {
  font-family: "open sans";
  padding: 1rem 0;

}
  .thesis_vid {
opacity: 0.5;
transition-duration: 0.75s;
transition-delay: 150ms;
  }

  .thesis_vid:hover {
    opacity: 1;
  }

  .thesis_vid video {
    width: 100%;
  }

  .thesis_left h3 {
    width: 60%;
  }

  .thesis_left p {
      width:
}

.fourth_container {
  display: flex;
  background-color: whitesmoke;
}



.thesis_right {
  width: 40%;
  padding-top: 1rem;
}

.thesis_subcontainer {
  display: flex;
  align-items: center;
  opacity: 0.8;
  transition-duration: 0.75s;
  transition-delay: 150ms;

}

.thesis_subcontainer:hover {
  background-color: rgb(237, 235, 235);
  opacity: 1;
}

.subcontainer_imgflex {
  width: 30%;
  height: auto;
  padding: 1rem;
}

.subcontainer_imgflex img {
  width: 100%;
}


.thesis_text {
  width: 70%;

}

.thesis_text h3 {
  font-family: "montserrat";
  padding: 1rem 0;
}

.thesis_text p {
  font-family: "open sans";
  padding: 1rem 0;
}

@media only screen and (max-width: 560px) {

  .fourth_container {
    display:block;
  }
  .thesis_right {
    display: none;
  }
  .thesis_left {
    width: 100%;
    padding: 0;
    padding-bottom: 1.5rem;
  }
  .thesis_left h2 {
    display: none;
  }
  .thesis_left p {
    display: none;
  }



}

/*footer*/

footer {
  display: flex;
  font-family: "open sans";
  font-weight: bold;
}

.left_footer {
  padding: 1rem 1.5rem;
  max-width: 100%;
  flex-grow: 1;

}

.right_footer {
  display: flex;
  padding: 1rem 1.5rem;
}

.right_footer li {
  display: flex;


}

.right_footer ul {
  padding: 0 1rem;
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

.right_footer ul:hover {
  background-color: grey;
  color: white;
  border-radius: 12px;
}

@media only screen and (max-width: 560px) {
  .right_footer {
    display: none;
  }
}
